<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div th:fragment="header">
    <script type="text/javascript">
        function addParameterToURL(param){
            let url = location.href.replace("?lang=ru", "").replace("&lang=ru", "").replace("?lang=en", "").replace("&lang=en", "");
            url += (url.split('?')[1] ? '&':'?') + param;
            return url;
        }

        function changeLang(){
            const lang = document.querySelector("select[name=language]").value;
            window.location.replace(addParameterToURL("lang=" + lang));
        }
    </script>
    <nav class="navbar navbar-light bg-light navbar-expand-lg">
        <span class="navbar-brand h1">
            <a th:href="@{/main}">superQuizer()</a>
        </span>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" sec:authorize="hasRole('ADMIN')"><a class="nav-link" href="/admin/users" th:text="#{users}"></a></li>
            <li class="nav-item" sec:authorize="hasRole('STUDENT')"><a class="nav-link" href="/user/topics" th:text="#{topics}"></a></li>
            <li class="nav-item" sec:authorize="hasRole('STUDENT')"><a class="nav-link" href="/user/results" th:text="#{results}"></a></li>
            <li class="nav-item"><a class="nav-link" href="/logout" th:text="#{logout}"></a></li>
        </ul>
        <form class="form-inline">
            <select name="language" onchange="changeLang()">
                <option value="" th:text="#{select-language}"></option>
                <option value="en" th:text="#{english-lang}"></option>
                <option value="ru" th:text="#{russian-lang}"></option>
            </select>
        </form>
    </nav>
</div>

<div th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                superQuizer &copy; 2020
            </div>
        </div>
    </div>
</div>
</body>
</html>