.login-form {
    border: 1px solid #76a2ff;
    padding: 40px;
    width: 400px;
    margin: 100px auto;
    display: block;
    background-color: lightblue;
}

.login-form {
    width: 340px;
    margin: 50px auto;
}


.error {
    padding: 40px;
    width: 700px;
    margin: 100px auto;
    display: block;
}

header{
    margin-bottom: 20px;
}

footer{
    background-color: #f8f9fa;
    padding: 20px;
}

.two-columns {
    column-count: 2;
    column-gap: 20px;
}

.main-content{
    margin-bottom: 20px;
}

.question{
    font-size: 18px;
}

.question-item{
    margin-bottom: 10px;
}

.question-item input {
    margin-right: 10px;
}

.pages {
    margin: 20px auto;
}

.pages td{
    padding: 10px;
    font-color: grey;
}

.generic-table{
    margin: 20px auto;
    width: 60%;
}

.generic-table td{
    padding: 10px
}

.generic-table tr:nth-child(even){
    background-color: #f8f9fa;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}