<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <div class="container-fluid">

        <form th:object="${userRaw}" action="registration" method="POST">

            <div th:if="${#fields.hasErrors('email')}" class="row justify-content-center">
                <div class="col-2">
                    <div class="alert alert-danger" role="alert">
                        <p th:text="#{email-not-valid}"></p>
                    </div>
                </div>
            </div>

            <div th:if="${#fields.hasErrors('passconf')}" class="row justify-content-center">
                <div class="col-2">
                    <div class="alert alert-danger" role="alert">
                        <p th:text="#{pass-not-valid}"></p>
                    </div>
                </div>
            </div>

            <div class="login-form">
                <h2 class="text-center" th:text="#{signup}"></h2>
                <input class="form-control" type="text" th:field="*{email}" th:placeholder="#{login}"/>
                <input class="form-control" type="password" th:field="*{password}" th:placeholder="#{password}"/>
                <input class="form-control" type="password" th:field="*{passconf}" th:placeholder="#{passconf}"/>
                <input class="btn btn-info" type="submit" th:value="#{signup}"/><br/>
                <a href="/login" th:text="#{have-acc}"></a>
            </div>

        </form>
    </div>
</body>
</html>