<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table>
    <tr>
        <th>User ID</th>
        <th></th>
    </tr>
    <tr th:each="user : ${users.getContent()}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getEmail()}"></td>
    </tr>
</table>
<table>
    <tr>
        <td th:each="pageNumber : ${#numbers.sequence(0, users.getTotalPages()-1)}" >
            <a th:href="@{/users(page=${pageNumber})}" th:text=${pageNumber+1}></a>
        </td>
    </tr>
</table>
</body>
</html>