<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<header th:insert="fragments/general.html :: header"> </header>
<div class="container">
    <div class="row">
        <div class="col main-content">
            <table class="generic-table">
                <tr>
                    <th th:text="#{topic}"></th>
                    <th th:text="#{test}"></th>
                    <th th:text="#{score}"></th>
                </tr>
                <tr th:each="result : ${results.getContent()}">
                    <td th:text="${result.getQuiz().getTopic().getName()}"></td>
                    <td th:text="${result.getQuiz().getName()}"></td>
                    <td th:text="${result.getScore()}"></td>
                </tr>
            </table>

            <div th:if="${results.getTotalPages() gt 1}">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:each="pageNumber : ${#numbers.sequence(0, results.getTotalPages()-1)}"><a class="page-link" th:href="@{''(page=${pageNumber})}" th:text=${pageNumber+1}></a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
<footer th:insert="fragments/general.html :: footer"> </footer>
</body>
</html>