<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<header th:insert="fragments/general.html :: header"> </header>
<div class="container">
    <div class="row">
        <div class="col main-content">
            <table class="generic-table">
                <tr>
                    <th>User ID</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr th:each="user : ${users.getContent()}">
                    <td th:text="${user.getId()}"></td>
                    <td>
                        <a th:text="${user.getEmail()}" th:href="@{/admin/user/{userId}(userId=${user.getId()})}"></a>
                    </td>
                    <td>
                        <a th:text="${user.getRole().toString()}"></a>
                    </td>
                    <td>
                        <a th:text="${#numbers.formatDecimal(user.getAverageMark(), 0, 2)}"></a>
                    </td>
                </tr>
            </table>
<!--            <table class="pages">-->
<!--                <tr>-->
<!--                    <td th:each="pageNumber : ${#numbers.sequence(0, users.getTotalPages()-1)}" >-->
<!--                        <a th:href="@{/admin/users(page=${pageNumber})}" th:text=${pageNumber+1}></a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--            </table>-->

            <ul class="pagination justify-content-center">
                <li class="page-item" th:each="pageNumber : ${#numbers.sequence(0, users.getTotalPages()-1)}"><a class="page-link" th:href="@{''(page=${pageNumber})}" th:text=${pageNumber+1}></a></li>
            </ul>
        </div>
    </div>
</div>
<footer th:insert="fragments/general.html :: footer"> </footer>
</body>
</html>